/* VARIABLES*/
/* BODY */
body {
  background-color: #c0dff5; }

.container {
  background-color: #c0dff5; }

.media-body {
  color: cornflowerblue; }

.navbar {
  background-color: #e3f2fd !important; }

/* INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
/* NAV Y LINKS */
/* BEM */
#links {
  color: #c0dff5; }

.nav-link:hover {
  color: #c0dff5; }

.nav-link {
  color: cornflowerblue !important; }

.nav-link:hover {
  color: #7f95c0 !important; }

.navbar-brand {
  color: cornflowerblue !important;
  font-size: 30px; }

.dropdown-menu {
  background-color: #c0dff5; }

.dropdown-item {
  color: white; }

/* CARD 1 */
.card {
  background-color: #d4e7f5; }
  .card .card-titleIndex {
    color: white;
    font-size: 25px; }
  .card .card-textBanner {
    color: white !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 54px; }
  .card .card-SubTextBanner {
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
    margin-left: 5px; }

.card .card-titleInicio {
  color: cornflowerblue;
  font-size: 20px;
  font-weight: bold; }

.card .card-titleFundadores {
  color: cornflowerblue; }

.card .card-textFundadores {
  color: #7f95c0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.card .card-SubTitleBanner {
  color: cornflowerblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; }

#imagenesConferencia {
  height: 500px; }

/* PARRAFOS SUB BANNER */
.card .parrafoSubBanner3 {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20px;
  text-align: center;
  font-weight: bold; }

.card .parrafoSubBanner4 {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0px;
  text-align: center;
  font-weight: bold; }

/* BOTONES */
.btn {
  background-color: white !important;
  border-color: #7f95c0;
  color: cornflowerblue; }

.btnFundadores {
  background-color: white !important;
  border-color: #7f95c0;
  color: cornflowerblue; }

.btn:hover {
  background-color: cornflowerblue;
  color: #6d6d6d; }

.btn1 {
  background-color: white !important;
  border-color: #7f95c0;
  color: cornflowerblue; }

.btn2 {
  background-color: white !important;
  border-color: #7f95c0;
  color: cornflowerblue;
  margin-left: 90px; }

/* FOOTER */
#grillaFooter1 {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: 30px;
  background-color: #d4e7f5; }

.titulosFooter {
  color: cornflowerblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px; }

.itemsFooter {
  color: #7f95c0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin-top: 20px; }

.parrafosDeFooter {
  font-size: small;
  margin-top: 30px;
  color: #7f95c0; }

/* MEDIAQUERY TABLET INDEX.HTML ---------- */
@media (min-width: 750px) {
  /* LIST GROUP */
  .list-group-item {
    background-color: cornflowerblue; }
  .list-group {
    display: flex;
    flex-direction: row; }
  /* CARD*/
  .card .card-textBanner {
    color: white !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px !important;
    margin-left: 50px; }
  .card .card-SubTextBanner {
    color: white;
    font-size: 25px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
    margin-left: 55px; }
  .card .card-title {
    color: white;
    font-size: 30px !important;
    font-weight: bold;
    margin-left: 125px; }
  .card .card-textFundadores {
    color: #7f95c0 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .card .card-titleFundadores {
    color: cornflowerblue; }
  .card .card-img-top {
    height: 150px; }
  /* BOTONES */
  .btn {
    background-color: white !important;
    border-color: #7f95c0;
    color: cornflowerblue;
    margin-left: 170px; }
  .btnFundadores {
    background-color: white !important;
    border-color: #7f95c0;
    color: cornflowerblue; }
  .btn2 {
    background-color: white !important;
    border-color: #7f95c0;
    color: cornflowerblue;
    margin-left: 170px; }
  /* FOOTER */
  #grillaFooter1 {
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 100px 100px;
    background-color: cornflowerblue; }
    #grillaFooter1 .titulosFooter {
      color: #7f95c0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 25px;
      padding-top: 50px; }
    #grillaFooter1 .itemsFooter {
      color: cornflowerblue !important;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      padding-top: 50px; }
    #grillaFooter1 .parrafosDeFooterNosotros {
      font-size: larger;
      margin-top: 50px; } }

/* MEDIAQUERY PARA COMPUTADORA INDEX.HTML ---------- */
@media (min-width: 1200px) {
  /* CARD*/
  .card .card-img-overlay {
    margin-left: 330px; }
  .card .card-textBanner {
    color: white !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px !important;
    margin: 0px;
    margin-left: 20px; }
  .card .card-SubTextBanner {
    color: white;
    font-size: 22px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
    margin: 0px;
    margin-left: 20px; }
  .card .card-SubTitleBanner {
    color: cornflowerblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px; }
  .card .card-titleEmpresas {
    font-size: 30px !important;
    color: white !important;
    text-decoration: none !important; }
  .card .card-bodyfundadorNumero1 {
    width: 1000px !important; }
  /* PARRAFOS SUB BANNER */
  .parrafoSubBanner3 {
    font-size: 35px !important;
    margin-right: 330px;
    font-weight: normal; }
  .parrafoSubBanner4 {
    font-size: 25px;
    margin: 0px;
    margin-right: 350px;
    font-weight: normal;
    text-align: center; }
  /* BOTONES */
  .btn {
    background-color: white !important;
    border-color: #7f95c0;
    color: cornflowerblue;
    margin-left: 140px; }
  .btn2 {
    background-color: #c0dff5 !important;
    border-color: #87b9db !important;
    margin-left: 120px;
    margin-top: 20px; }
  .btn2:hover {
    background-color: cornflowerblue !important;
    color: white !important; }
  /* FOOTER */
  #grillaFooter1 {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    background-color: #e3f2fd; }
    #grillaFooter1 .titulosFooter {
      background-color: #c0dff5;
      color: cornflowerblue;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 15px;
      font-weight: bold;
      color: cornflowerblue; }
    #grillaFooter1 .itemsFooter {
      background-color: #c0dff5;
      color: #7f95c0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 15px; }
    #grillaFooter1 .parrafosDeFooterNosotros {
      font-size: 13px;
      margin-top: 15px; } }

/* ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML */
/* CARD */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
.navbar-brand {
  color: cornflowerblue !important;
  font-size: 30px; }

/* CARD */
.card .card-titleAlumnos {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 100px;
  color: white;
  margin-left: 30px; }

.card .card-titleAlumnos1 {
  color: white;
  font-size: 20px; }

.card .card-titleAlumnos2 {
  color: cornflowerblue; }

.card .card-textAlumnos {
  color: cornflowerblue; }

.card .card-bodyAlumnos {
  color: cornflowerblue;
  background-color: #d4e7f5; }

/* PREGUNTAS FRECUENTES */
#botonPreguntasFrecuentes {
  color: cornflowerblue;
  font-weight: bold;
  background-color: white; }

.tituloPreguntasFrecuentes {
  color: white;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center !important; }

/*MEDIAQUERIE TABLET ALUMNOS.HTML */
@media (min-width: 750px) {
  /* CARD */
  .card-titleAlumnos {
    font-size: 50px !important;
    margin-left: 130px !important; }
  /* IMAGENES */
  .card-img-topAlumnos1 {
    width: 155px;
    height: 100px; }
  .card-img-topAlumnos2 {
    width: 155px;
    height: 100px; }
  /* PREGUNTAS FRECUENTES */
  .tituloPreguntasFrecuentes {
    color: #c0dff5;
    font-family: fantasy;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center !important; }
  #botonPreguntasFrecuentes {
    color: cornflowerblue;
    font-weight: bold;
    background-color: white;
    margin-left: 0px; }
  /* FOOTER */
  #grillaFooter1 {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 100px 100px;
    background-color: #c0dff5; }
  .titulosFooter {
    color: cornflowerblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px; }
  .itemsFooter {
    color: #7f95c0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px; } }

/*MEDIAQUERIE COMPUTADORA ALUMNOS:HTML */
@media (min-width: 1200px) {
  /* CARD */
  .card .card-titleAlumnos {
    font-size: 70px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px !important;
    color: white;
    margin-left: 20px !important; }
  .card .card-titleAlumnos1 {
    margin-top: 40px; }
  .card .card-text2Alumnos {
    margin: 0px;
    margin-right: 200px;
    margin-top: 5px; }
  /* IMAGENES */
  .card-imgAlumnos {
    width: 1110px !important;
    height: 300px; }
  .card-imgAlumnosSubBanner {
    width: 1110px;
    height: 250px; }
  .card-img-topAlumnos1 {
    width: 354px !important;
    height: 300px; }
  .card-img-topAlumnos2 {
    width: 355px;
    height: 250px; }
  /* PREGUNTAS FRECUENTES */
  .tituloPreguntasFrecuentes {
    color: white;
    font-family: fantasy;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center; }
  /* FOOTER */
  #grillaFooter1 {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    grid-template-rows: 90px 90px 90px 90px 90px 90px;
    background-color: #e3f2fd; }
  .titulosFooter {
    background-color: #c0dff5;
    color: cornflowerblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    color: cornflowerblue; }
  .itemsFooter {
    background-color: #c0dff5;
    color: #7f95c0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px; }
  .parrafosDeFooterNosotros {
    font-size: 13px;
    margin-top: 15px; } }

/* PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.card-titleProyectos1 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 100px;
  margin-left: 20px; }

.card-titleProyectos {
  color: #7f95c0 !important;
  font-size: 25px; }

.card-textProyectos {
  color: #7f95c0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/* MEDIAQUERIE PROYECTOS.HTML PARA TABLET */
@media (min-width: 750px) {
  .card-titleProyectos1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    margin-left: 110px;
    color: white; }
  /*IMAGENES*/
  #fotosCarroussell {
    height: 500px; }
  #imagenesProyectos {
    height: 500px; } }

/* MEDIAQUERIE PROYECTOS.HTML PARA COMPUTADORA */
@media (min-width: 1200px) {
  /*CARD*/
  .card-titleProyectos1 {
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px;
    margin-left: 20px;
    color: white; }
  /* CARROUSSELL */
  .tituloCarouselProyectos {
    color: cornflowerblue !important;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px; }
  .parrafoCarouselProyectos {
    color: #7f95c0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px; }
  /* IMAGENES */
  #imagenesProyectos {
    height: 250px; }
  .card-imgIndex {
    height: 350px;
    width: 1108px; }
  #imagenesProyectos:hover {
    transform: scale(1.1, 1.1); } }

/* SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
/* CONTENEDORES */
.contenedorServicios {
  background-color: #c0dff5; }

.contenedorBannerServicios {
  background-color: #c0dff5; }

.contenedorImagenesClientes {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-gap: 50px;
  display: block;
  padding: 10px; }

/* IMAGENES */
.imagenServicios {
  background-color: #c0dff5; }

.imagenesClientes {
  background-color: white; }

/* PARRAFOS */
.parrafoDeCursos {
  color: #6d6d6d; }

.card-titleServicios {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 100px;
  color: white;
  margin-left: 50px; }

.card-titleServicios1 {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.subTituloServicios {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px; }

#titulosDeCursos {
  font-size: 20px; }

.duracionCurso {
  font-size: 15px; }

/* MEDIAQUERIE SERVICIOS.HTML PARA TABLET */
@media (min-width: 750px) {
  /*CARD*/
  .card-titleServicios {
    margin-left: 130px; }
  .tituloPreguntasFrecuentes {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  /* IMAGENES */
  /*--------------FLEXBOX-------------*/
  .contenedorImagenesClientes {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    padding: 0px; }
  /* ------------------------------- */
  .imagenSede {
    width: 230px;
    height: 150px; }
  .imagenSedeUfc {
    width: 250px;
    height: 130px; }
  .imagenSedeYouTube {
    width: 250px;
    height: 250px; }
  .imagenSedeIntel {
    width: 230px;
    height: 150px; }
  /* PARRAFO*/
  .parrafoDeCursos {
    color: #6d6d6d;
    font-size: 18px; } }

/* MEDIAQUERIE SERVICIOS.HTML PARA COMPUTADORA */
@media (min-width: 1200px) {
  /* CARD */
  .card-titleServicios {
    margin-left: 50px;
    font-size: 70px;
    margin-top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .card-titleServicios1 {
    margin-top: 50px; }
  /*--------------FLEXBOX-------------*/
  .imagenesClientes {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly; }
  /* ------------------------------- */
  /*IMAGENES*/
  #imagenBannerServicios {
    width: 1108px; }
  .card-imgServicios {
    width: 1108px;
    height: 300px; }
  .card-imgServicios1 {
    width: 1108px;
    height: 250px; }
  .imagenSede {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px; }
  .imagenSedeUfc {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px; }
  .imagenSedeYouTube {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px; }
  .imagenSedeIntel {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px; }
  .parrafoDeCursos {
    color: #6d6d6d;
    font-size: 20px; } }

/* EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML ----------- */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
.card-titleEmpresasBanner {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  margin-top: 100px;
  margin-left: 45px; }

.card-titleEmpresasCero {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: 30px; }

.card-titleEmpresasCero2 {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: 30px; }

.card-titleEmpresas {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 20px;
  margin-left: 30px; }

.card-titleEmpresas1 {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #7f95c0;
  margin-top: 0px;
  margin-left: 30px; }

.card-headerEmpresas {
  color: cornflowerblue !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; }

.card-titleEmpresas {
  color: #7f95c0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px; }

.btnEmpresas {
  background-color: #c0dff5 !important;
  border-color: #d4e7f5 !important;
  font-size: 20px;
  margin-left: 0px; }

/* MEDIAQUERIE PARA TABLET EMPRESAS.HTML */
@media (min-width: 750px) {
  .card-titleEmpresasBanner {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 120px; }
  .card-titleEmpresasCero {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 15px;
    margin-left: 100px; }
  .card-titleEmpresas {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 15px;
    margin-left: 50px; }
  .card-titleEmpresas1 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7f95c0;
    margin-left: 0px; }
  .card-headerEmpresas {
    color: cornflowerblue !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px; }
  .card-titleEmpresas {
    color: #7f95c0;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px; }
  .btnEmpresas {
    background-color: cornflowerblue !important;
    border-color: #d4e7f5 !important;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 50px; } }

/* MEDIAQUERIE PARA COMPUTADORA EMPRESAS.HTML */
@media (min-width: 1200px) {
  .card-titleEmpresasBanner {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    margin-top: 100px;
    margin-left: 20px; }
  .card-titleEmpresasCero {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: normal; }
  .card-titleEmpresasCero2 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: normal; }
  .card-titleEmpresas {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7f95c0;
    margin-top: 15px;
    margin-left: 50px; }
  .card-titleEmpresas1 {
    font-size: 18px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7f95c0;
    margin-top: 40px;
    margin-left: 0px; }
  .btnEmpresas {
    background-color: #c0dff5 !important;
    border-color: #d4e7f5 !important;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 50px;
    text-decoration: none; }
  .btnEmpresas:hover {
    background-color: cornflowerblue !important;
    border-color: #d4e7f5 !important;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 50px;
    text-decoration: none; }
  .card-imgEmpresas {
    width: 1110px !important;
    height: 150px; } }

/* CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML ----------- */
/* BASADO EN MEDIDAS DE IPHONE X (375px)*/
/* CARD */
.card-titleContacto {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-top: 100px;
  margin-left: 30px; }

.card-titleContacto1 {
  font-size: 35px;
  margin-top: 50px;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.card-textContacto {
  color: #6d6d6d !important; }

.card-textContacto2 {
  color: black;
  font-size: 18px; }

.card-titleSedes {
  color: cornflowerblue; }

.card-imgContacto {
  height: 300px !important; }

.tituloNuestrasSedes {
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 50px; }

/* MEDIAQUERIE PARA TABLET CONTACTO.HTML */
@media (min-width: 750px) {
  .card-titleContacto {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 100px;
    margin-left: 110px; }
  .card-titleContacto1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 40px;
    margin-left: 65px; }
  .card-textContacto2 {
    color: black;
    font-size: 25px; }
  /* IMAGENES */
  .card-imgContacto {
    width: 478px;
    height: 300px; }
  #imagenesSedesContacto {
    width: 138px;
    height: 100px; }
  /* BOTONES */
  .btnContacto {
    background-color: #c0dff5;
    color: cornflowerblue;
    margin-left: 50px; }
  .btnModal {
    margin-left: 45px; }
  /* MEDIAQUERIE PARA COMPUTADORA CONTACTO.HTML */ }

@media (min-width: 1200px) {
  .card-deck {
    display: flex;
    flex-direction: row; }
  .card-titleContacto {
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 120px;
    margin-left: 0px; }
  .card-titleContacto1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 75px;
    margin-left: 30px; }
  .card-textContacto2 {
    color: black;
    font-size: 20px; }
  /* IMAGENES */
  .card-imgContacto {
    width: 1080px;
    height: 350px; }
  .card-imgContacto2 {
    width: 1080px;
    height: 250px; }
  .card-imgContacto3 {
    width: 1080px;
    height: 250px; }
  #imagenesSedesContacto {
    width: 338px;
    height: 250px; }
  .card-imgContacto2 {
    width: 1080px;
    height: 250px; }
  /* BOTONES */
  .btnContacto {
    background-color: cornflowerblue;
    color: #c0dff5;
    margin-left: 110px; }
  .btnModal {
    margin-left: 80px; } }
