/* VARIABLES*/

$color_celeste_primario: #c0dff5;
$color_celeste_secundario: #d4e7f5;
$color_azul_primario:  rgb(127, 149, 192);
$color_azul_secundario: cornflowerblue ;
$color_negro_primario: black;
$color_blanco_primario:  white;
$color_gris_oscuro: rgb(109, 109, 109); 
$color_fondo_menu: #e3f2fd;



/* BODY */

body {
  background-color: $color_celeste_primario;
}

.container {
  background-color: $color_celeste_primario;
}

.media-body {
 color: $color_azul_secundario;
}

.navbar {
  background-color: $color_fondo_menu;
}


/* INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- INDEX.HTML ---------- */


/* NAV Y LINKS */

/* BEM */

#links {
    color: $color_celeste_primario;
}

.nav-link:hover {
      color: $color_celeste_primario;
}
 
  
  .nav-link {
    color: $color_azul_secundario !important;
  }
  
  .nav-link:hover {
    color: $color_azul_primario !important;
  }
  
  .navbar-brand {
    color: $color_azul_secundario!important;
    font-size: 30px;
  }
  
  .dropdown-menu {
    background-color: $color_celeste_primario;
  }
  
  .dropdown-item {
    color: $color_blanco_primario;
  }
  



/* CARD 1 */

/* BEM Nº1 */

.card {
  background-color: $color_celeste_secundario;

.card-titleIndex {
  color: $color_blanco_primario;
  font-size: 25px;
}

  .card-textBanner {
    color: $color_blanco_primario!important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 54px;
    
  }
  
  .card-SubTextBanner {
    color: $color_blanco_primario;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-weight: bold;
  
  }

}

/* BEM Nº2 */

.card {

  .card-titleInicio {
    color:$color_azul_secundario;
    font-size: 20px;
    font-weight: bold;
  }

  .card-titleFundadores {
    color: $color_azul_secundario;
  }

  .card-textFundadores {
    color:$color_azul_primario !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }

  
  .card-SubTitleBanner {
    color:$color_azul_secundario;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  
}

#imagenesConferencia {
  height: 500px;
}


/* PARRAFOS SUB BANNER */
.card {

.parrafoSubBanner3 { 
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.parrafoSubBanner4 { 
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
}

}


/* BOTONES */

.btn {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
}

.btnFundadores {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
}


.btn:hover {
  background-color: $color_azul_secundario;
  color: $color_gris_oscuro;

}

.btn1 {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
}

.btn2 {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
  margin-left: 85px;
}


/* FOOTER */
/* BEM Nº3 */
#grillaFooter1 {
    
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: 30px;
    background-color:$color_celeste_secundario;
    }
  
  .titulosFooter {
    color: $color_azul_secundario;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    }
  
  .itemsFooter {
    color:$color_azul_primario;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    }
  
  .parrafosDeFooter {
    font-size: small;
    margin-top: 30px;
    color: $color_azul_primario;
 }


/* MEDIAQUERY TABLET INDEX.HTML ---------- */

@media (min-width: 750px) {





 /* LIST GROUP */ 

.list-group-item {      
 background-color: $color_azul_secundario;
 }

.list-group {
display: flex;
flex-direction: row;
}


/* CARD*/
/* BEM Nº4 */
.card {

.card-textBanner {
  color: $color_blanco_primario!important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 70px !important;
  margin-left: 50px;
  
}

.card-SubTextBanner {
  color: $color_blanco_primario;
  font-size: 25px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
  margin-left: 55px;

}

.card-title {
  color:$color_blanco_primario;
  font-size: 30px !important;
  font-weight: bold;
  margin-left: 125px;
}


.card-textFundadores {
  color:$color_azul_primario !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.card-titleFundadores {
  color: $color_azul_secundario;
}

.card-img-top {
  height: 150px;
}

}

/* BOTONES */

.btn {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
  margin-left: 170px;
}

.btnFundadores {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
 
}

.btn2 {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
  margin-left: 170px;
}

/* FOOTER */
/* BEM Nº5 */

#grillaFooter1 {        
padding-left: 10px;
display: grid;
grid-template-columns: repeat(2, 250px);
grid-template-rows: 100px 100px;
background-color:$color_azul_secundario;


      
.titulosFooter {
color: $color_azul_primario;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 25px;
padding-top: 50px;       
}
      
.itemsFooter {
color: $color_azul_secundario !important;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
padding-top: 50px;
        
}
      
.parrafosDeFooterNosotros {
font-size: larger;
margin-top: 50px;
}


}

}


/* MEDIAQUERY PARA COMPUTADORA INDEX.HTML ---------- */

@media (min-width: 1200px) {





  /* CARD*/
  /* BEM Nº6 */

.card {

 .card-img-overlay {
  margin-left: 330px;
}

.card-textBanner {
  color: $color_blanco_primario!important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px !important;
  margin: 0px;
  margin-left: 20px;
  
}

.card-SubTextBanner {
  color: $color_blanco_primario;
  font-size: 22px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-weight: bold;
  margin: 0px;
  margin-left: 20px; 
}


.card-SubTitleBanner {
  color:$color_azul_secundario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50px;
}


.card-titleEmpresas {
  font-size: 30px !important;
  color: $color_blanco_primario !important;
  text-decoration: none !important;
}

.card-bodyfundadorNumero1 {
  width: 1000px !important;
}

}

/* PARRAFOS SUB BANNER */

.parrafoSubBanner3 {
  font-size: 35px !important;
 margin-right: 330px;
  font-weight: normal;

}

.parrafoSubBanner4 {
  font-size: 25px;
  margin: 0px;
  margin-right: 350px;
  font-weight: normal;
  text-align: center;

}

/* BOTONES */

.btn {
  background-color: $color_blanco_primario !important;
  border-color:$color_azul_primario;
  color: $color_azul_secundario;
  margin-left: 140px;
}


.btn2 {
  background-color:$color_celeste_primario !important;
  border-color: #87b9db !important;
  margin-left: 120px;
  margin-top: 20px;
}

.btn2:hover {
  background-color: $color_azul_secundario !important;
  color: $color_blanco_primario !important;
}
 
/* FOOTER */
/* BEM Nº7*/

#grillaFooter1 {        
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: 90px 90px 90px 90px 90px 90px  ;
  background-color:#e3f2fd;
 

.titulosFooter {
  background-color: $color_celeste_primario;
  color: $color_azul_secundario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  font-weight: bold;
  color: $color_azul_secundario;
  
  }

.itemsFooter {
  background-color: $color_celeste_primario;
  color: $color_azul_primario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  }

.parrafosDeFooterNosotros {
  font-size: 13px;
  margin-top: 15px;
}

}
    

}



/* ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML ------------ ALUMNOS.HTML */

/* CARD */


.navbar-brand {
  color: $color_azul_secundario!important;
  font-size: 30px;
}

/* CARD */
/* BEM Nº8 */
.card {

.card-titleAlumnos {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 100px;
  color: $color_blanco_primario;
  margin-left: 30px;
}

.card-titleAlumnos1 {
  color: $color_blanco_primario;
  font-size: 20px;
  
}

.card-titleAlumnos2 {
  color: $color_azul_secundario;
}

.card-textAlumnos {
  color: $color_azul_secundario;
}

.card-bodyAlumnos {
  color: $color_azul_secundario;
  background-color: $color_celeste_secundario;
}

}

/* PREGUNTAS FRECUENTES */

#botonPreguntasFrecuentes {
  color: $color_azul_secundario;
  font-weight: bold;
  background-color: $color_blanco_primario;
}


.tituloPreguntasFrecuentes {
  color: $color_blanco_primario;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  text-align: center !important;
}


  /*MEDIAQUERIE TABLET ALUMNOS.HTML */

@media (min-width: 750px) {
 


  /* CARD */

.card-titleAlumnos{
  font-size: 50px !important;
  margin-left: 130px !important;
}


/* IMAGENES */ 


.card-img-topAlumnos1 {
  width: 155px;
  height: 100px;
}

.card-img-topAlumnos2 {
  width: 155px;
  height: 100px;
}




/* PREGUNTAS FRECUENTES */ 

.tituloPreguntasFrecuentes {
  color: $color_celeste_primario;
  font-family: fantasy;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center !important;
}

#botonPreguntasFrecuentes {
  color: $color_azul_secundario;
  font-weight: bold;
  background-color: $color_blanco_primario;
  margin-left: 0px;
}




/* FOOTER */ 

#grillaFooter1 {        
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: 100px 100px;
  background-color:$color_celeste_primario
}
  .titulosFooter {
    color: $color_azul_secundario;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.itemsFooter {
  color: $color_azul_primario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  }

}



 /*MEDIAQUERIE COMPUTADORA ALUMNOS:HTML */

@media (min-width: 1200px) {

  /* CARD */

  .card {

  .card-titleAlumnos {
    font-size: 70px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px !important;
    color: $color_blanco_primario;
    margin-left: 20px !important;
    
  }

  .card-titleAlumnos1 {
    margin-top: 40px;
    
  }

  .card-text2Alumnos {
    margin: 0px;
    margin-right: 200px;
    margin-top: 5px;
  }

}

  /* IMAGENES */ 

  .card-imgAlumnos {
    width: 1110px !important;
    height: 300px;
  }

  .card-imgAlumnosSubBanner {
    width: 1110px;
    height: 250px;
  }

  .card-img-topAlumnos1 {
    width: 354px !important;
    height: 300px;
  }

  .card-img-topAlumnos2 {
    width: 355px;
    height: 250px;
  }




  /* PREGUNTAS FRECUENTES */
  

  .tituloPreguntasFrecuentes {
    color: $color_blanco_primario;
    font-family: fantasy;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
  }


/* FOOTER */

#grillaFooter1 {        
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: 90px 90px 90px 90px 90px 90px  ;
  background-color:#e3f2fd;
  }
    

.titulosFooter {
  background-color: $color_celeste_primario;
  color: $color_azul_secundario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  font-weight: bold;
  color: $color_azul_secundario;
  
  }

.itemsFooter {
  background-color: $color_celeste_primario;
  color: $color_azul_primario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  }

.parrafosDeFooterNosotros {
  font-size: 13px;
  margin-top: 15px;
}


}



/* PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- PROYECTOS.HTML -------- */

.navbar-brand {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.card-titleProyectos1 {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $color_blanco_primario;
  margin-top: 100px;
  margin-left: 20px;

}

.card-titleProyectos {
  color: $color_azul_primario !important;
  font-size: 25px
  ;
}

.card-textProyectos {
  color: $color_azul_primario !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* MEDIAQUERIE PROYECTOS.HTML PARA TABLET */

@media (min-width: 750px) {

  .card-titleProyectos1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 100px;
    margin-left: 110px;
    color: $color_blanco_primario;
  }


  /*IMAGENES*/ 

  #fotosCarroussell {
    height:  500px;
  }

  #imagenesProyectos {
    height: 500px;
  }


}


/* MEDIAQUERIE PROYECTOS.HTML PARA COMPUTADORA */

@media (min-width: 1200px) {

  /*CARD*/

  .card-titleProyectos1 {
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px;
    margin-left: 20px;
    color: $color_blanco_primario;
    
  }
  

  /* CARROUSSELL */

.tituloCarouselProyectos {
  color: $color_azul_secundario!important;
  font-weight: bold;
  font-size: 50px;
  margin-top: 20px;
}

.parrafoCarouselProyectos {
  color: $color_azul_primario;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  
}

/* IMAGENES */

#imagenesProyectos {
 
  height: 250px;
}

.card-imgIndex {
  height: 350px;
  width: 1108px;
}

#imagenesProyectos:hover {
  transform: scale(1.1, 1.1);
}

}








/* SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- SERVICIOS.HTML ----------- */






/* CONTENEDORES */

.contenedorServicios {
  background-color: $color_celeste_primario;
}

.contenedorBannerServicios {
  background-color: $color_celeste_primario;
}

.contenedorImagenesClientes {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-gap: 50px;
  display: block;
  padding: 10px;
  
}

/* IMAGENES */

.imagenServicios {
  background-color: $color_celeste_primario;
}

.imagenesClientes {
  background-color: $color_blanco_primario;
}


/* PARRAFOS */

.parrafoDeCursos {
  color: $color_gris_oscuro;
}

.card-titleServicios {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 100px;
  color: $color_blanco_primario;
  margin-left: 50px;
}

.card-titleServicios1 {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.subTituloServicios {
  color: $color_blanco_primario;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#titulosDeCursos {
  font-size: 20px;
}


.duracionCurso {
  font-size: 15px;
}

/* MEDIAQUERIE SERVICIOS.HTML PARA TABLET */

@media (min-width: 750px) {




  /*CARD*/

  .card-titleServicios{
    margin-left: 130px;
  }



  .tituloPreguntasFrecuentes {
    color: $color_blanco_primario;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  
/* IMAGENES */ 


/*--------------FLEXBOX-------------*/
.contenedorImagenesClientes {
  background-color: $color_blanco_primario;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
  padding: 0px;
  
}

/* ------------------------------- */


.imagenSede {
  width: 230px;
  height: 150px;
}

.imagenSedeUfc {
  width: 250px;
  height: 130px;

}

.imagenSedeYouTube {
  width: 250px;
  height: 250px;
}

.imagenSedeIntel {
  width: 230px;
  height: 150px;
}


/* PARRAFO*/ 

.parrafoDeCursos {
  color: $color_gris_oscuro;
  font-size: 18px;
}



}

/* MEDIAQUERIE SERVICIOS.HTML PARA COMPUTADORA */

@media (min-width: 1200px) {


  /* CARD */

  .card-titleServicios{
    margin-left: 50px;
    font-size: 70px;
    margin-top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-titleServicios1 {
    margin-top: 50px;
  }



  /*--------------FLEXBOX-------------*/

  .imagenesClientes {
    background-color: $color_blanco_primario;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
  }

  /* ------------------------------- */



  /*IMAGENES*/

  #imagenBannerServicios {
  width: 1108px ;
  }  

  .card-imgServicios{
    width: 1108px ;
    height: 300px;
    }  


  .card-imgServicios1{
    width: 1108px ;
    height: 250px;
    }  

  .imagenSede {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px;

  }

  .imagenSedeUfc {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px;
  
  }
  
  .imagenSedeYouTube {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
  
  .imagenSedeIntel {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 275px;
    height: 150px;
  }

  .parrafoDeCursos {
    color: $color_gris_oscuro;
    font-size: 20px;

  }
  
  


}


/* EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML -----------  EMPRESAS.HTML ----------- */

.card-titleEmpresasBanner {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  margin-top: 100px;
  margin-left: 45px;
}

.card-titleEmpresasCero {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $color_blanco_primario;
  margin-top: 20px;
  margin-left: 30px;
}

.card-titleEmpresas {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $color_blanco_primario;
  margin-top: 20px;
  margin-left: 30px;
}

.card-titleEmpresas1 {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $color_azul_primario;
  margin-top: 0px;
  margin-left: 30px;
}

.card-headerEmpresas {
  color: $color_azul_secundario !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.card-titleEmpresas {
  color: $color_azul_primario;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

.btnEmpresas {
  background-color:$color_celeste_primario !important;
  border-color: $color_celeste_secundario !important;
  font-size: 20px;
  margin-left: 0px;
}

/* MEDIAQUERIE PARA TABLET EMPRESAS.HTML */ 

@media (min-width: 750px) {

  .card-titleEmpresasBanner {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 120px;
  }

  .card-titleEmpresasCero {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 15px;
    margin-left: 100px;
  }

  .card-titleEmpresas {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 15px;
    margin-left: 50px;
  }
  
  .card-titleEmpresas1 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_azul_primario;
    margin-left: 0px;
  }

  .card-headerEmpresas {
    color: $color_azul_secundario !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
  }
  
  .card-titleEmpresas {
    color: $color_azul_primario;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
  }

  .btnEmpresas {
    background-color:$color_azul_secundario !important;
    border-color: $color_celeste_secundario !important;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 50px;
  }

}

  /* MEDIAQUERIE PARA COMPUTADORA EMPRESAS.HTML */ 

@media (min-width: 1200px) {

  .card-titleEmpresasBanner {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    margin-top: 100px;
    margin-left: 20px;
  }

  .card-titleEmpresasCero {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 50px;
    margin-left: 0px;
    font-weight: normal;
  }

  .card-titleEmpresas {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_azul_primario;
    margin-top: 15px;
    margin-left: 50px;
  }
  
  .card-titleEmpresas1 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_azul_primario;
    margin-top: 40px;
    margin-left: 0px;
  }


  .btnEmpresas {
    background-color:$color_celeste_primario !important;
    border-color: $color_celeste_secundario !important;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 50px;
    text-decoration: none;
  }

  .btnEmpresas:hover {
    background-color:$color_azul_secundario !important;
    border-color: $color_celeste_secundario !important;
    font-size: 30px;
    margin-left: 0px;
    margin-top: 50px;
    text-decoration: none;
  }


  .card-imgEmpresas {
    width: 1110px !important;
    height: 150px;
  }

}



/* CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML -----------  CONTACTO.HTML ----------- */


/* CARD */

.card-titleContacto {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $color_blanco_primario;
  margin-top: 100px;
  margin-left: 30px;
 
}

.card-titleContacto1{
  font-size: 35px;
  margin-top: 50px;
  margin-left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.card-textContacto {
  color: $color_gris_oscuro !important;
}

.card-textContacto2 {
  color: $color_negro_primario;
  font-size: 18px;
}


.card-titleSedes {
  color: $color_azul_secundario;
}

.card-imgContacto {
  height: 300px !important;
}

.tituloNuestrasSedes {
  color: $color_blanco_primario;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 50px;
}


/* MEDIAQUERIE PARA TABLET CONTACTO.HTML */ 

@media (min-width: 750px) {

  .card-titleContacto {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 100px;
    margin-left: 110px;
  }

  .card-titleContacto1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 40px;
    margin-left: 65px;
  }

  .card-textContacto2 {
    color: $color_negro_primario;
    font-size: 25px;
  }

  /* IMAGENES */ 

 .card-imgContacto {
   width: 478px;
   height: 300px;
 }


 #imagenesSedesContacto {
   width: 138px;
   height: 100px;
 }

 /* BOTONES */ 

 .btnContacto {
   background-color: $color_celeste_primario;
   color: $color_azul_secundario;
   margin-left: 50px;
 }

 .btnModal {
   margin-left: 45px;
 }

  /* MEDIAQUERIE PARA COMPUTADORA CONTACTO.HTML */ 

}

@media (min-width: 1200px) {

  .card-deck {
    display: flex;
    flex-direction: row;
  }

  .card-titleContacto {
    font-size: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 120px;
    margin-left:0px;
  }

  .card-titleContacto1 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $color_blanco_primario;
    margin-top: 75px;
    margin-left: 30px;
  }

  .card-textContacto2 {
    color: $color_negro_primario;
    font-size: 20px;
  }

  /* IMAGENES */

  .card-imgContacto {
    width: 1080px;
    height: 350px;
  }

  .card-imgContacto2 {
    width: 1080px;
    height: 250px;
  }

  .card-imgContacto3 {
    width: 1080px;
    height: 250px;
  }

  #imagenesSedesContacto {
    width: 338px;
   height: 250px;
  }

  .card-imgContacto2 {
    width: 1080px;
    height: 250px;

  }

  /* BOTONES */ 

 .btnContacto {
  background-color: $color_azul_secundario;
  color: $color_celeste_primario;
  margin-left: 110px;
}

.btnModal {
  margin-left: 80px;
}


}




